body{
    background-color: #F8EADE;
    background: url(img/wave-haikei\ \(1\).png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
}

.fa-solid{
    color: #AA3939;
    font-style: bold;
    margin:0;
}

a, p{
    font-family: Cormorant;
    font-style: bold;
    color:#8D3C3C;
    margin:0;
}

h1{
    color:#8D3C3C;
    margin:0 auto;
    font-family:shrikhand;
    font-size:30px;
    letter-spacing: 1px;
    padding:5px;
}

h2{
    color:#ffffff;
    font-family: shrikhand;
    letter-spacing:2px;
    font-style: normal;
}

.header{
    text-align: center;
    margin-bottom:3vh;
}

h6{
    margin-bottom:20px;
}

i{
    font-size:2vw;
}

.topnav {
    background-color: #33333300;
    overflow: hidden;
    margin-bottom:2vh;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    font-family:shrikhand;
    font-style:normal;
    display: block;
    color: #8D3C3C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    transition:200ms ease-in;
  }

  .links{
    margin-top:0.6vh;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
    transition:200ms ease-in;
  }

  /* Add a dark background on topnav links and the dropdown button on hover */
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: #532525;
    transition:200ms ease-in;

  }

  .main-box{
    border-radius:10px;
    background-color:#8D3C3C;
    width:50vw;
    display:flex;
    margin:auto;
    margin-bottom:6vh;
    margin-top:1vh;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 5px;
  }


.in-box{
    color:white;
    font-family:cormorant;
    font-size:20px;
}

  .notre-menu{
    margin-top:2vh;
    margin-bottom:2vh;
    text-align: center;
  }

  .main-btn{
    text-align:center;
    border:none;
    font-family: cormorant;
    font-size:20px;
    font-style:bold;
    color:white;
    background-color:#913636;
    border-radius:20px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 5px;
    transition:200ms ease-in;
    transform:translateY(1);

  }

 
  .main-btn:hover{
    background-color: #692d2d;
    transition:200ms ease-in;
    transform:translateY(-2px);
    cursor:pointer;
  }

  .sub-box{
    display:flex;
    border-radius:10px;
    background-color:#8D3C3C;
    width:70vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top:1vh;
    margin-bottom:2vh;
    padding:20px;
    text-align:left;
    display:inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 5px;
    transition:200ms ease-in;
  }

  .sub-box:hover{
    transition:200ms ease-in;
    transform: translateX(-50%) translateY(-8px);
    cursor:pointer;
  }

  .sub-box img{
    border-radius:15px;
    float:left;
    width:10vw;
    height:10vw;
    margin-right:5vw;

  }

  .sub-box h2{
    font-size:26px;
    font-family:shrikhand;
    font-style:normal;
    letter-spacing:2px;
    color:#ffffff;
  }

  .sub-box p{
    color:white;
    font-family:cormorant;
    font-size:24px;
  }

  .link-box{
    margin:auto;
    margin-top:3vh;
    text-align: center;
  }

  .link-box p{
    margin-bottom:2vh;
    font-size:20px;
  }

  .link-box i{
    transition:200ms ease-in;
    transform:translateY(1);
    font-size:35px;
  }

  .link-box i:hover{
    transition:200ms ease-in;
    transform:translateY(-2px);
  }

  .site-footer
  {
    background-color:#692d2d;
    padding:20px;
    font-size:15px;
    line-height:25px;
    color:#737373;
    font-family:cormorant;
    margin-top:10vh;
    display:inline-block;
    vertical-align: top;
  }

  .text-justify{
    margin-left:10px;
    color:white;
    font-size:20px;
    margin-bottom:20px;
  }
  .site-footer hr
  {
    border-top-color:#ffffff;
    opacity:0.2
  }
  .site-footer hr.small
  {
    margin:20px 0
  }
  .site-footer h6
  {
    font-family:Poppins;
    font-style:normal;
    color:#F8EADE;
    font-size:22px;
    text-transform:uppercase;
    margin-top:5px;
    margin-left:10px;
    letter-spacing:2px
  }
  .site-footer a
  {
    color:#ffffff;
    font-size:20px;
}
  .site-footer a:hover
  {
    color:#afafaf;
    text-decoration:none;
  }
  .footer-links
  {
    text-decoration:underline rgba(255, 255, 255, 0.5); 
    padding-left:0;
    list-style:none;
    font-size:20px;
    margin-left:10px;
  }
  .footer-links li
  {
    display:block
  }
  .footer-links a
  {
    text-decoration:none;
    color:#ffffff
  }
  .footer-links a:active,.footer-links a:focus,.footer-links a:hover
  {
    color:#d6d6d6;
    text-decoration:none;
  }
  .footer-links.inline li
  {
    display:inline-block
  }
  .site-footer .social-icons
  {
    text-align:left;
  }
  .site-footer .social-icons a
  {
    width:40px;
    height:40px;
    margin-left:6px;
    margin-right:0;
    color:white;
  }
  .copyright-text {
    margin:0
  }
  @media (max-width:991px)
  {
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
  }
  @media (max-width:767px)
  {
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
  }
  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    color:#ffffff;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.instagram:hover
  {
    color:gray;
  }

/*MENU*/

.menu-list{
  margin:0 auto;
  padding:5vw;
}

.menu-list hr{
  width:50vw;
  border:0.1px solid #8D3C3C;
}

.menu-group{
  margin:0 auto;
  display:grid;
  grid-template-columns: 1fr;
  gap:1vw;
}

.menu-item{
  display:flex;
  margin-left:3vw;
}

.menu-img img{
  margin-top:5vh;
  width:200px;
  height:200px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 3vw;
  border-radius:5px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.menu-info{
  font-family:cormorant;
  color:#692d2d;
  font-size:24px;
}

.extra-info{
  font-family:cormorant;
  font-size:24px;
  color:#ffffff;
  background-color:#552e2e;
  padding:25px;
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 5px;
  
}

.extra-info.lassi{
  background-color:#ce7d65;
}

.extra-info.bissap{
  background-color:#853333;
}

.extra-info.sherbet{
  background-color:#6e9b6c;
}

.extra-info.tea{
  background-color:#9b714e;
}

.extra-info h5{
  margin-top:10px;
  font-family:shrikhand;
  font-size:24px;
  color:#fdfdfd;
  margin-bottom:8px;
  letter-spacing:2px;
}

.menu-list h3{
  font-family:shrikhand;
  color:#8D3C3C;
  font-style:normal;
  letter-spacing: 1px;
  font-size:32px;
}

.menu-list h4{
  font-family:shrikhand;
  color:#ac3232;
  font-style:normal;
  letter-spacing: 1px;
  font-size:28px;
}

#more {
  display: none;
}

#more1 {
  display: none;
}

#more2 {
  display: none;
}

#more3 {
  display: none;
}

.readMore{
  border:none;
  text-align: center;
  font-family:poppins;
  font-style:bold;
  font-size:24px;
  color:#913636;
  background:none;
  transition:200ms ease-in;
}

.readMore:hover{
  transition:200ms ease-in;
  cursor:pointer;
}


.fa-solid.fa-circle-minus{
  display:none;
}

@media screen and (max-width: 600px) {
  .menu-info {
    font-size: 16px;
  }

  .extra-info{
    font-size:16px;
  }

  .extra-info h5{
    font-size:18px;
  }

  .menu-list h3{
    font-size: 20px;
  }
  .menu-list h4{
    font-size: 18px;
  }

  .readMore{
    font-size:16px;
  }


  .menu-img img{
    width:135px;
    height:135px;
    margin-right:5vw;
  }
}

/* TEAM */

.introductions{
  margin:0 auto;
  padding:5vw;
}

.intro-box{
  border-radius:10px;
  padding:30px;
  color:white;
  font-family:cormorant;
  margin-bottom:25px;
}

.title{
  margin-bottom:20px;
}

.title i{
  font-size: 25px;
}

.title span{
  font-size:34px;
  font-family:shrikhand;
  margin-right:18px;
}

.intro-text{
  font-size:24px;
}

.intro-box.sarah{
  background-color:#692d2d;
}

.intro-box.atika{
  background-color:#783333;
}

.intro-box.aicha{
  background-color:#873939;
}

.intro-box.linh{
  background-color:#973E3E;
}

.intro-box.charlotte{
  background-color:#A64444;
}

.intro-box.betina{
  background-color:#B54A4A;
}

@media screen and (max-width: 300px) {
  h1{
    font-size:28px;
  }

  .menu-info {
    font-size: 14px;
  }

  .menu-list h3{
    font-size: 16px;
  }
  .menu-list h4{
    font-size: 15px;
  }


  .menu-img img{
    width:110px;
    height:110px;
    margin-right:5vw;
  }
}


  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }

  }


  @media screen and (max-width: 1400px) {
    i{
        font-size:3vw;
    }
  }

  @media screen and (max-width: 1000px) {
    i{
        font-size:5vw;
    }
    .sub-box h2{
      font-size:20px;
    }
  
    .sub-box p{
      font-size:18px;
    }
    .topnav a{
      font-size:22px;
    }
    .links{
      margin-top:1.6vh;
    }

  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .sub-box img{
      width:22vw;
      height:22vw;
      margin-right:5vw;
  
    }
    i{
        font-size:8vw;
    }

    .title i{
      font-size:20px;
    }
    
    .title span{
      font-size:30px;
      font-family:shrikhand;
      margin-right:18px;
    }
    
    .intro-text{
      font-size:20px;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    .topnav .icon:hover {
      transition:200ms ease-in;
      color: #532525;

    }

    .links{
      transform:none;
      background-color:rgba(146, 37, 37, 0.1);
      margin:0;
      text-align:right !important; 
    }

    .links:hover{
      transform:none;
      background-color:rgba(146, 37, 37, 0.2);
    }
  }